[submodule "vim/bundle/drawit"]
	path = vim/bundle/drawit
	url = https://github.com/vim-scripts/DrawIt.git
[submodule "vim/bundle/xoria256"]
	path = vim/bundle/xoria256
	url = https://github.com/vim-scripts/xoria256.vim.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/snipmate"]
	path = vim/bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
