//
//_______________________________________________________________________
//
// Copyright (C) `system("date +%Y")`          Debiotech S.A.            CH-1004 Lausanne
//_______________________________________________________________________
//
// PROJECT ${1:JewelPUMP} - ${2:MainMCU}
//_______________________________________________________________________
//
//! \file   `expand('%:t')`
//! \brief  ${3:brief}.
//!
//! ${4:description}.
//!
//! \author Julien Lefrique
//!
//! $Id$
//_______________________________________________________________________
//

//-----------------------------------------------------------------------
// Include section
//-----------------------------------------------------------------------
//

//-----------------------------------------------------------------------
// Constants/Macros Definitions
//-----------------------------------------------------------------------
//

//-----------------------------------------------------------------------
// Type Definitions
//-----------------------------------------------------------------------
//

//-----------------------------------------------------------------------
// Exported Global Data
//-----------------------------------------------------------------------
//

//-----------------------------------------------------------------------
// Private Data
//-----------------------------------------------------------------------
//

//-----------------------------------------------------------------------
// Private Function Prototypes
//-----------------------------------------------------------------------
//

//-----------------------------------------------------------------------
// Inline Code Definition
//-----------------------------------------------------------------------
//

//-----------------------------------------------------------------------
// Function definitions
//-----------------------------------------------------------------------
//
${5}
