//! \brief $1 unit test $2.
//!
//! ${3:description}.
//!
//! \return None.
static void Ut_${1:`substitute(substitute(Filename(), "ut_", "", "g"), "\\w\\+", "\\u\\0", "g")`}_${2:0000x}(void)
{
	${4:/* code */}
}
